<div class='item-container-edit item-edit f-item-3' id='{{ID}}'>
    <div>
        <span class='item item-task'><b>Имя:&nbsp;</b><p class='item-caption'>{{CAPTION}}</p></span>
        <span class='item item-task'><b>email:&nbsp;</b><p class='item-email'>{{EMAIL}}</p></span>
        <span class='item item-task'><b>Текст задачи:</b><br><p class='item-text'>{{TEXT}}</p></span>
        <span class='item status'>{{STATUS}}</span>
    </div> 
    <div class='item-container-btn'>
        <button  class="btn btn-primary" id='btn-{{ID}}'>Редактировать задачу</button>
        <button  class="btn btn-danger dell" id-data='{{ID}}'>Удалить</button>
    </div>
</div>
    



