<div class='sort-container'>
    <form class='form-sort' action='' method="POST">
        <p>Сортировать:</p>
        <select class='select-sort' name="sort">
            <option class='select-sort-item' value="caption" label='по имени' {{SELECCAP}}>
            <option class='select-sort-item' value="email" label='по email' {{SELECEMAIL}}>
            <option class='select-sort-item' value="status" label='по решению' {{SELECST}}>
        </select>
    </form>
    <button class="btn btn-warning" id='add'>Добавить задачу</button>
</div>

</div>
</div>
<div class='modal-window'>
    <div class='modal-window-container'></div>
    <span class='modal-window-close'></span>
</div>
<script type="text/javascript" src='js/form.class.js'></script>
<script type="text/javascript" src='js/code.js'></script>
</body>
</html>