<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log_In</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body style='padding: 20px;'>
<a  class='btn btn-success link-to-main' href='/?path=index'>Главная страница</a>
<div style='width:100%; height:100%; display:flex; flex-direction: column; justify-content: center; align-items:center;'>
<form class='put-form-prod' enctype="multipart/form-data" method="POST" style='margin: 30px 0 20px 0;display:flex;flex-direction: column;'>
    <input type="text" class="put-form-prod-title" name='login' placeholder="Имя пользователя" required>
    <input type="text" class="put-form-prod-title" name='password' placeholder="Пароль" required style='margin: 10px 0 0 0;'>
    <p><input type="checkbox" name="save" value="save_me"> запомнить меня</p>
    <input type='submit' name='btn' class="put-form-prod-btn" style='margin: 10px 0 0px 0;'>
</form>
